{% extends 'layout.html' %}
{% block title %}
<title>MyOrders</title>
{% endblock title %}
{% block main_content %}
<style>
    .order-img{
        background-image: url('../images/orderBG.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height:100vh;

    }
</style>

<div class="container-fluid pt-5 order-img" style="min-height:300px;">
    <div class="row">
        <div class="col mt-4 mb-4">
            <!-- <h1 class="text-center text-uppercase m-4 font-weight-bold">My Order History</h1> -->
            {% include 'messages.html' %}


                    <table class="table  border table-dark table-hover table-striped  ">
                        <thead>
                        <tr>
                            <th>Item Name</th>

                            <th>Quantity</th>
                            <th>Total Price</th>
                            <th>Ordered Date</th>
                            <th>Contact No</th>
                            <th>Delivery Location</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody class="align-items-center">
                        {% for item in items %}
                        <tr >
                            <td>{{item.food.food_name}}</td>

                            <td>{{item.quantity}}</td>
                            <td>{{item.total_price}}</td>
                            <td>{{item.created_date}}</td>
                            <td>{{item.contact_no}}</td>
                            <td>{{item.contact_address}}</td>
                            <td>{{item.status}}</td>
                                                    </tr>
                        {% endfor %}
                        </tbody>
                    </table>



        </div>

    </div>
</div>
</div>
{% endblock %}