{% extends 'layout.html' %}
{% load static %}
{% block main_content %}
<div class="container">
                <div class="card login-card">
                  <div class="row no-gutters">
                    <div class="col-md-5">
                      <img src="{% static 'images/login.jpg' %}" alt="login" class="login-card-img">
                    </div>
                    <div class="col-md-7">
                      <div class="card-body">
                        <p class="login-card-description">Email Sent!</p>
                        <p>
                          We’ve emailed you instructions for setting your password, if an account
                          exists with the email you entered. You should receive them shortly.
                        </p>

                        <p>
                          If you don’t receive an email, please make sure you’ve entered the
                          address you registered with, and check your spam folder.
                        </p>
                        <p class="login-card-footer-text"><a class="btn btn-primary" href="{% url 'login' %}" class="text-reset">Back to login</a></p>
                      </div>
                    </div>
                  </div>
                </div>
</div>
{% endblock main_content %}