{% extends 'layout.html' %}
{% load static %}
{% block main_content %}
<div class="container">
                <div class="card login-card">
                  <div class="row no-gutters">
<!--                    <div class="col-md-5">-->
<!--                      <img src="{% static 'images/login.jpg' %}" alt="login" class="login-card-img">-->
<!--                    </div>-->
                    <div class="col-md-7">
                      <div class="card-body">
                  <p class="login-card-description">Password reset complete</p>
                  <h6>Your password has been set. You may go ahead and log in now.</h6>
                        <a class="btn btn-block login-btn mb-4" href="{% url 'login' %}">Log in</a>
                      </div>
                    </div>
                  </div>
                </div>
</div>
{% endblock main_content %}
