{% extends 'layout.html' %}
{% load static %}
{% block main_content %}
<style>
.forgot-password{

  width:70%;
  margin:30px auto;

  border:2px solid #2ecc71;
  box-shadow:0px 5px 4px rgba(0,0,0,0.3);
        border-radius:25px;
        padding:20px 25px;


      }
      .forgot-password .title-f-pass{
        font-size:20px;
        font-weight:bold;
      }
      .forgot-password label{
        font-size:18px;
        font-weight:bold;
        padding:0 0 10px 0;
        text-decoration: underline;
      }
      .forgot-password input{
        margin:10px 0;

        box-shadow: 0px 4px 3px rgba(0,0,0,0.6);
        padding:8px 15px;
      }
      .login-btn{
        background:#2ecc71;
        color:#fff;
        font-size:18px;
        font-weight:bold;
        letter-spacing: 1px;
      }
      .login-btn:hover{
        color:#fff;
      }
      .login-back{
        background:#34495e;
        color:#fff;
        font-size:18px;
        letter-spacing: 1px;

      }
      .login-back:hover{

        color:#fff;
      }
      </style>
<div class=" forgot-password">
    <div class="card-body">
                  <p class="title-f-pass">Enter your email to reset password</p>
                  <form method="POST">
                    {% csrf_token %}
                      <div class="form-group">
                        <label for="email" class="sr-only">Enter Your E-mail</label>
                        <input type="email" name="email" id="email" class="form-control" placeholder="Enter email here">
                      </div>
                      {% include 'messages.html' %}
                      <input name="login" id="login" class="btn  login-btn mb-4" type="submit" value="Reset">
                    </form>
                    <p class="login-card-footer-text "><a class="btn login-back" href="{% url 'login' %}" class="text-reset">Back to login</a></p>
                </div>
              </div>

{% endblock main_content %}